@model MeiHi.Admin.Models.User.UserCommentsReplyModel

@{
    ViewBag.Title = "回复用户";
}

<h2>回复用户</h2>


@using (Html.BeginForm("ReplyUserComment", "Shoper", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <input type="hidden" value="@Model.ShopId" name="ShopId" id="ShopId"/>
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">用户 @Model.UserName 说：</label>
            <div class="col-md-10">
                <textarea contenteditable="false" class="form-control">@Model.UserContent</textarea>
            </div>
        </div>
        <input type="hidden" value="@Model.UserCommentId" name="UserCommentId" id="UserCommentId" />
        <div class="form-group">
            @Html.LabelFor(model => model.MeiHiContent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MeiHiContent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MeiHiContent, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="回复" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回列表", "ManageUserCommentsByShopId", new { shopId=@Model.ShopId})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
