@model MeiHi.Admin.Models.HairStyle.HairStyleModel

@{
    ViewBag.Title = "创建发型";
}

<h2>创建 @Model.HairStyleTypeName 发型</h2>

@using (Html.BeginForm("SaveHairStyle", "HairStyle", FormMethod.Post, new { enctype = "multipart/form-data", id = "form2" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <input type="hidden" name="HairStyleTypeId" id="HairStyleTypeId" value="@Model.HairStyleTypeId" />

        <div class="form-group">
            <label for="file" class="control-label col-md-2">上传模特图片一张</label>
            <div class="col-md-10">
                <input type="file" name="modelUrls" id="modelUrls" />
            </div>
        </div>

        <div class="form-group">
            <label for="file" class="control-label col-md-2">上传发型图片一张</label>
            <div class="col-md-10">
                <input type="file" name="styleUrls" id="styleUrls" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="创建" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回发型列表", "ManageHairStyle")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
