@model MeiHi.Shop.ViewModels.ShoperModelPassword

@{
    ViewBag.Title = "密码重置";
}

<h2>密码重置</h2>


@using (Html.BeginForm("ResetShoperPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" name="ShopId" id="ShopId" value="@Model.ShopId" />

        <div class="form-group">
            @Html.LabelFor(model => model.Password1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password2, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="提交" class="btn btn-default" />

                @if (TempData["message"] != null)
                {
                    <label class="text-info">@TempData["message"]</label>
                }
                
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回主页", "Index", "Home", null, null)
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
