@model MeiHi.Admin.Models.UserComments.AllUserCommentsModel

@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "评论管理";
}

<h2>评论管理</h2>
<div>

            @Html.ActionLink(@Model.HigherRateCount.ToString() + " 个好评", "ManageAllComments", new { higherRate = true })
    <br />
            @Html.ActionLink(@Model.LowerRateCount.ToString() + " 个差评", "ManageAllComments", new { lowerRate = true })
</div>
@using (Html.BeginForm("ManageAllComments", "User", FormMethod.Get))
{
    <hr />
    <label>店铺名</label><input type="text" name="shopName" value="@ViewData["ShopName"]" id="shopName" />
    <label>服务名</label><input type="text" name="serviceName" value="@ViewData["ServiceName"]" id="serviceName" />
    <label>用户名</label><input type="text" name="userName" value="@ViewData["UserName"]" id="userName" />
    <label>电话</label><input type="text" name="mobile" value="@ViewData["Mobile"]" id="mobile" />
    <label>内容</label><input type="text" name="content" value="@ViewData["Content"]" id="content" />
    <input type="submit" value="查询" class="btn btn-default" />
}
<table class="table">
    <tr>
        <th>
            用户名
        </th>
        <th>
            手机
        </th>
        <th>
            消费的店铺
        </th>
        <th>
            消费的服务
        </th>
        <th>
            评论内容
        </th>
        <th>
            评分
        </th>
        <th>
            分享的图片
        </th>
        <th>
            美嗨回复
        </th>
        <th>
            是否屏蔽
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.UserCommentsList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShopName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @foreach (var t in item.UserSharedImgaeList)
                {
                    <img src="@t" />
                }
            </td>
            <td>
                @if (item.MeiHiReply != null && item.MeiHiReply.Count > 0)
                {
                    <label>@string.Join("|", item.MeiHiReply)</label>
                }
            </td>
            <td>
                @if (item.Display)
                {
                    <label>否</label>
                }
                else
                {
                    <label>是</label>
                }
            </td>
            <td>
                @Html.ActionLink("屏蔽", "UnDisplayUserComment", new { userCommentId = item.UserCommentId, allManage = true })
                @Html.ActionLink("不屏蔽", "DisplayUserComment", new { userCommentId = item.UserCommentId, allManage = true })
                @Html.ActionLink("回复", "ReplyUserComment", new { userCommentId = item.UserCommentId, allManage = true })
            </td>
        </tr>
    }
</table>
<br />
Page @(Model.UserCommentsList.PageCount < Model.UserCommentsList.PageNumber ? 0 : Model.UserCommentsList.PageNumber) of @Model.UserCommentsList.PageCount

@Html.PagedListPager(Model.UserCommentsList, page => Url.Action("ManageAllComments", "User",
    new
    {
        page,
        userName = ViewData["UserName"],
        mobile = ViewData["Mobile"],
        content = ViewData["Content"],
        shopName = ViewData["ShopName"],
        serviceName = ViewData["ServiceName"],
        lowerRate = ViewData["LowerRate"],
        higherRate = ViewData["HigherRate"]
    }))