@model MeiHi.Admin.Models.Booking.ShopsBookingManageModel
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "已支付";
}
<h2>未结清</h2>
@using (Html.BeginForm("ManageUnPayToShopBooking", "Booking", FormMethod.Get))
{
    <label>美嗨券查询</label>
    <input type="text" name="meihiTicket" value="" id="meihiTicket" />
    <input type="submit" value="查询" class="btn btn-default" />
}

@using (Html.BeginForm("ManageUnPayToShopBooking", "Booking", FormMethod.Get))
{
    <label>订单号查询</label>
    <input type="text" name="bookingId" value="" id="bookingId" />
    <input type="submit" value="查询" class="btn btn-default" />
}
<table class="table">
    <tr>
        <th>
            订单ID
        </th>
        <th>
            美嗨券
        </th>
        <th>
            店铺名
        </th>
        <th>
            服务名
        </th>
        <th>
            移动电话
        </th>
        <th>
            消费金额
        </th>
        <th>
            是否已经支付
        </th>
        <th>
            是否已经使用
        </th>
        <th>
            是否在申请退款
        </th>
        <th>
            申请退款成功
        </th>
        <th>
            和店铺已结算
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.UserBookings)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerifyCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShopName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBilling)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsUsed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cancel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CancelSuccess)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if (item.IsBilling && item.IsUsed && !item.Cancel && !item.CancelSuccess && !item.Status)
                {
                    @Html.ActionLink("结算", "PayUnBillingBooking", new { bookingId = item.BookingId }, new { onclick = "return confirm('确定要退款吗')" })
                }
            </td>
        </tr>
    }
</table>
<br />
Page @(Model.UserBookings.PageCount < Model.UserBookings.PageNumber ? 0 : Model.UserBookings.PageNumber) of @Model.UserBookings.PageCount

@Html.PagedListPager(Model.UserBookings, page => Url.Action("ManageUnPayToShopBooking", "Booking",
    new { page }))