@model MeiHi.Admin.Models.Booking.ShopsBookingManageModel
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "订单总览";
}
<h2>订单总览</h2>
<div>
    @Html.ActionLink(@Model.TotalNotPayedCount.ToString() + " 个未结清订单", "ManageUnPayToShopBooking")
    <br />
    @Html.ActionLink(@Model.TotalNotPayedMoney.ToString() + " RMB 未结清", "ManageUnPayToShopBooking")
    <hr />
    @Html.ActionLink(@Model.TotalCancelCount.ToString() + " 个订单在申请退款", "ManageCancelBooking")
    <br />
    @Html.ActionLink(@Model.TotalCancelMoney.ToString() + " RMB 在申请退款", "ManageCancelBooking")
    @*<br />
        @Html.ActionLink(@Model.TotalPayedMoney.ToString() + "RMB 已结清", "ManageBookingHavePayed", new { shopId = @Model.ShopId })*@
    <hr />
    @Html.ActionLink("销售总额:" + @Model.TotalGotedMoney.ToString() + "RMB", "ManageBookingHaveBillinged")
    <hr />
</div>

@using (Html.BeginForm("ManageBookings", "Booking", FormMethod.Get))
{
    <label>美嗨券查询</label>
    <input type="text" name="meihiTicket" value="" id="meihiTicket" />
    <input type="submit" value="查询" class="btn btn-default" />
}
@using (Html.BeginForm("ManageBookings", "Booking", FormMethod.Get))
{
    <label>订单号查询</label>
    <input type="text" name="bookingId" value="" id="bookingId" />
    <input type="submit" value="查询" class="btn btn-default" />
}
<table class="table">
    <tr>
        <th> 
            订单ID
        </th>
        <th>
            美嗨券
        </th>
        <th>
            服务图片
        </th>
        <th>
            服务名
        </th>
        <th>
            移动电话
        </th>
        <th>
            消费金额
        </th>
        <th>
            是否已经支付
        </th>
        <th>
            是否已经使用
        </th>
        <th>
            是否在申请退款
        </th>
        <th>
            申请退款成功
        </th>
        <th>
            和店铺已结算
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.UserBookings)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerifyCode)
            </td>
            <td>
                <img src="@item.ServiceTitleImage" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBilling)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsUsed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cancel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CancelSuccess)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if (item.IsBilling && item.IsUsed && !item.Cancel && !item.CancelSuccess && !item.Status)
                {
                    @Html.ActionLink("结算", "PayUnBillingBooking", new { bookingId = item.BookingId })
                }

                @if (item.IsBilling && !item.IsUsed && item.Cancel && !item.CancelSuccess && !item.Status)
                {
                    @Html.ActionLink("退款", "RefundToUserByBookingId", new { bookingId = item.BookingId })
                }
            </td>
        </tr>
    }
</table>
<br />
Page @(Model.UserBookings.PageCount < Model.UserBookings.PageNumber ? 0 : Model.UserBookings.PageNumber) of @Model.UserBookings.PageCount

@Html.PagedListPager(Model.UserBookings, page => Url.Action("ManageBookings", "Booking",
    new { page }))